
main{
    padding: 1vh 10vw;
}
.dash{
    min-height: 100vh;
    box-shadow: 1px 2px 1px grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 100vw;
  }
  
  .media, .misc, .admin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5vh 10vw;
  }

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 5vw;
    margin-top:10vh;
}

section, h1, h2, h3, {
    padding: 0;
    margin:0;
}

h2{
    margin-left: 3vw;
}

.pswd-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.password{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
